/* CSS Document */
/* 비주얼영역 */
.visual .swiper-container {
    width: 100%;
    height: auto;
  }
.visual .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

  }
.visual {position: relative;}
.visual img {width: 100%;}
.visual p {position: absolute; left: 50%; top: 45%; margin-left: -47%; color: #fff; font-weight: 700; font-size: 1.79rem; text-align: left;}
.visual p strong {color: #f00;}
.visual .swiper-pagination-bullet {width: 15px; height: 15px; background: #fff;}
.visual .swiper-button-next,.visual .swiper-button-prev {color: #fff;}
/* 비지니스 */
#content .business .swiper-container {
  width: 100%;
  height: 100%;
}
#content .business .swiper-slide {
  text-align: center;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#content .business .swiper-scrollbar-drag {background: #f00;}
#content .business {position: relative; left: 0; top: 0; margin-top: 22px;}
#content .business h3 {font-size: 1.6rem; font-weight: 700; text-align: center; margin-bottom: 22px;}
#content .business a img {width: 100%;}
#content .business a dl {position: absolute; left: 0; bottom: 0; background: rgba(0, 0, 0, .3); color: #fff;text-align: left; width: 100%;}
#content .business a dl dt {width: 94%; margin:3% 0 3% 3%; font-size: 1.14rem;font-weight: 500;}
#content .business a dl dd {width: 94%; margin:3%; font-size: 0.86rem;line-height: 2em; font-weight: 400;}
/* 비전 */
#content .vision h3 {font-size: 1.6rem; font-weight: 700; text-align: center; margin: 22px 0 0;}
#content .vision ul {width: 94%; margin: 22px 3% 0; overflow: hidden;}
#content .vision li {float: left; position: relative; width: 45%; margin: 2.5%; text-align: center;}
#content .vision li a > img {width: 100%; border-radius: 50%;}
#content .vision li span {display: block; position: absolute; left: 50%; top: 50%; color: #fff; font-size: 3.57rem; transform:translate(-50%,-70%);}
#content .vision li span img {width: 100%;}
#content .vision li p {width: 100%; position: absolute; left: 50%; bottom: 15%; color: #fff; text-align: center; font-size: 1.2rem; font-weight: 500;transform:translate(-50%)}
/* management */
#content .management {width: 100%; padding-bottom: 66px; background: #f9f9f9; margin-top: 60px; position: relative;}
#content .management h3 {font-size: 1.6rem; font-weight: 700; text-align: center; padding-top: 22px;}
#content .management .swiper-container {
  width: 100%;
  padding: 22px 0 50px;
}
#content .management .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 65%;
  height: 100%;
}
#content .management .swiper-pagination-bullet {background: #f00;}
#content .management .swiper-slide dl {color: #fff; width: 100%; margin: 0 auto; border-radius: 20px;}
#content .management .swiper-slide:nth-of-type(1) dl {background: rgba(73, 211, 203, 0.9);}
#content .management .swiper-slide:nth-of-type(2) dl {background: rgba(255, 0, 0, .9);}
#content .management .swiper-slide:nth-of-type(3) dl {background: rgba(0, 0, 0, .9);}
#content .management .swiper-slide dl dt span {font-size: 3.57rem; display: block; padding: 13px 0 8px; text-align: center;}
#content .management .swiper-slide dl dt p {font-size: 1.4rem; font-weight: 700; text-align: center; margin-bottom: 20px;}
#content .management .swiper-slide dl dd {width: 90%; margin: 0 5%; padding: 0 0 20px; font-size: 1rem; text-align: justify;}
#content .management a {width: 25%; margin: 20px auto 0; text-align: center; color: #f00; background: #fff; border: 2px solid #f00; border-radius: 20px; padding: 4px 0; font-size: 1.1rem; position: absolute; left: 50%; bottom: 22px; transform: translate(-50%); font-weight: 700;}
/* 투자정보 */
#content .investment {width: 100%; height: 300px; background: url(../images/investmentx2.jpg) center no-repeat; background-size: cover; margin-top: 44px;}
#content .investment h3 {font-size: 1.6rem; font-weight: 700; text-align: center; color: #fff; padding: 30px 0; position: relative;}
#content .investment li {margin-bottom:12px;}
#content .investment dl {overflow: hidden; color: #fff;}
#content .investment dl dt {float: left; font-size: 1.214rem; margin-left: 25%;}
#content .investment dl dd {float: right; font-size: 1.214rem; margin-right: 25%; font-weight: 700;}
#content .investment dl dd span {font-weight: 500; font-size: 0.857em; margin-left: 6px;}
#content .investment p {font-size: 0.857rem; color: #ddd; text-align: center;}
#content .investment a {width: 25%; margin: 20px auto 0; text-align: center; color: #fff; background: #f00; border: 2px solid #fff; border-radius: 20px; padding: 4px 0; font-size: 1.1rem; font-weight: 700;}

